/* body{
    margin: 0;
    padding: 0;
}*/
.bg-light {
    background-color:#ffffff!important;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 0;
    list-style: none;
    margin-left: 150px;
}

.navbar-light .navbar-nav .nav-link {
    color:black;
    transition: linear .8s;
    
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: black;
    transform: scale(1.1);
    font-weight: 500;
    border-bottom: 3px solid #eb7f21 !important;
    /* text-decoration: underline; */
}
.nav-item {
    padding: 0px 48px 0px 0px;
}
.btn-default {
    color: #fff;
    background-color: #eb7f21 !important;
}
.btn-secondary {
    color: #fff;
    background-color: #eb7f21 !important;
}
h1, h6{
    font-weight: 400;
}
.travel-details{
   display: inline-block;
}

.search-trip{
    background-color:#050c28; 
    height: 70px;
}
.form-group {
    margin-bottom: 0rem;
    width: 255px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 100px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    
}
.carousel-caption h1{
    font-size: 50px;
}

.btn {
    margin: .360rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    padding: .55rem 2.14rem;
    font-size: .81rem;
}


.selection-elements{
    background-color: #eaeaea;
}


.heading-text{
    text-align: center;
    padding: 14px;
    visibility: visible; 
    animation-delay: 600ms; 
    animation-name: fadeInUp;
}
.destination-list-one{
    text-align: center;
    transition: linear .5s;

    
}
.destination-list-one:hover{
    transform: scale(1.1);
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.btn-primary {
    color: #fff;
    background-color: #eb7f21 !important;
}





@media only screen and (max-width:991px){
    .navbar-nav {
        margin-left: 40px;
    }
    .modal{
        display:none;
    }
}

@media only screen and (max-width:767px){
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 80px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    
}
.carousel-caption h1{
    font-size: 40px;
}

}
@media only screen and (max-width:576px){
    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 40px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        font-size: 8px;;
    }
    .carousel-caption h1{
        font-size: 28px;
    }
    
    }

