body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

html {
    scroll-behavior: smooth;
}
  
.bg-light {
    background-color: #e0e0e003 !important;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 0;
    list-style: none;
    margin-left: 150px;
} 

.nav-item{
    font-weight: 400;
    padding-right: 25px;
    color:black;
}
.nav-item > a:hover{
    border-top: 2px solid #eb7f21 !important;
    border-bottom: 2px solid #eb7f21 !important;
    /* background-color: #eb7f21 !important; */
    color: white;
}


.btn-default {
    color: #fff;
    background-color: #eb7f21 !important;
}
.btn-secondary {
    color: #fff;
    background-color: #eb7f21 !important;
}
h1, h6{
    font-weight: 400;
}
.travel-details{
   display: inline-block;
}

.search-trip{
    background-color:#050c28; 
    height: 70px;
}
.form-group {
    margin-bottom: 0rem;
    width: 255px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 100px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    
}
.carousel-caption h1{
    font-size: 50px;
}

.btn {
    margin: .360rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    padding: .55rem 2.14rem;
    font-size: .81rem;
}


.selection-elements{
    background-color: #eaeaea;
}


.heading-text{
    text-align: center;
    padding: 14px;
    visibility: visible; 
    animation-delay: 600ms; 
    animation-name: fadeInUp;
}
.before-text::before{
    content: "";
    width: 33.333333%;
    background-color: #E5E9F0;
    height: 2px;
    position: absolute;
    top: 32px;
    left: 39px;
}

 .before-text::after{
    content: "";
    width: 33.333333%;
    background-color: #E5E9F0;
    height: 2px;
    position: absolute;
    top: 32px;
    right: 39px;
} 


.card{
    width:90%;
    
}
.card .yt-card{
    width:100%;
    
    
}

.destination-list-one{
    text-align: center;
    transition: linear .5s;
    padding-left: 40px;

    
}
.destination-list-one:hover{
    transform: scale(1.1);
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.btn-primary {
    color: #fff;
    background-color: #eb7f21 !important;
}

.button {
        background-color: #eb7f21;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 18px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
      }
      @keyframes glowing {
        0% {
          background-color: #eb7f21;
          box-shadow: 0 0 5px #efab73;
        }
        50% {
          background-color: #eb7f21;
          box-shadow: 0 0 10px #eb7f21;
        }
        100% {
          background-color: #eb7f21;
          box-shadow: 0 0 2px #efab73;
        }
      }
      .button {
        animation: glowing 1600ms infinite;
      }

    .polgif img{
        height: 25px;
    }
    .before-text{
        font-weight: 500;
    }
    .heading{
        
            padding: 12px;
            font-size: 30px;
            font-family: "Montserrat-Medium";
        }
        .paragraph {
            font-size: 30px;
            color: #000000;
            font-family: "Montserrat-Regular";
        }

        .explore {
            border: 2px solid #000;
            text-align: center;
            width: 153px;
            padding: 5px;
            background-color: #fff;
            color: #000;
            position: relative;
            margin: 67px auto;
            display: block;
            font-size: 30px;
            font-family: "Montserrat-Medium";
            border-radius: 4px;
        }

        
    * {
        box-sizing: border-box;
      }
  
      .slider {
        width: 92.2%;
        margin: 10px auto;
      }
  
      .slick-slide {
        margin: 0px 20px;
      }
  
     /* .slick-slide img {
        width: 100%;
      }*/
  
     /* .slick-prev:before,
      .slick-next:before {
        color: black;
      }
  */
  
      .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .2;
      }
      
      .slick-active {
        opacity: .5;
      }
  
      .slick-current {
        opacity: 1;
      }





/* MEDIA QUERIES------------- */




@media only screen and (max-width:991px){
    .navbar-nav {
        margin-left: 40px;
    }
    .modal{
        display:none;
    }
    .dest-place{
        margin-top: 60px;
    margin-left: 24px;
    }
}

@media only screen and (max-width:767px){
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 80px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    
}
.carousel-caption h1{
    font-size: 40px;
}
.destination-list-one{
    margin-top: 40px;
    margin-left: 40px;
}
.dest-place{
margin-left: 40px;

}


}
@media only screen and (max-width:576px){
    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 40px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        font-size: 8px;;
    }
    .carousel-caption h1{
        font-size: 28px;
    }
}




@media only screen and (max-width:991px){
.before-text::before{
    content: "";
    width: 26.333333%;
    background-color: #E5E9F0;
    height: 2px;
    position: absolute;
    top: 29px;
    left: 39px;
}

 .before-text::after{
    content: "";
    width: 26.333333%;
    background-color: #E5E9F0;
    height: 2px;
    position: absolute;
    top: 25px;
    right: 39px;
} 
}


@media only screen and (min-width:992px) and (max-width:1200px){
    .before-text::before{
        content: "";
        width: 25.333333%;
        background-color: #E5E9F0;
        height: 2px;
        position: absolute;
        top: 32px;
        left: 35px;
    }
    
     .before-text::after{
        content: "";
        width: 25.333333%;
        background-color: #E5E9F0;
        height: 2px;
        position: absolute;
        top: 32px;
        right: 30px;
    } 


}
@media only screen and (min-width:860px) and (max-width:992px){
    .before-text::before{
        content: "";
        width: 25.333333%;
        background-color: #E5E9F0;
        height: 2px;
        position: absolute;
        top: 32px;
        left: 35px;
    }
    
     .before-text::after{
        content: "";
        width: 25.333333%;
        background-color: #E5E9F0;
        height: 2px;
        position: absolute;
        top: 35px;
        right: 30px;
    } 


}







